*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none; color: #999999;}
.wrap{
    width: calc(100% - 17px);
    .nav{
        width: 100%;
        height: 32px;
        background-color:#f2f2f2 ;
        border: 1px solid #e5e5e5;
    }
    .header{
        width: 100%;
    }
    .content{
        width: 100%;
        background-color: rgb(245,245,245);
        min-height: 200px;
        overflow: hidden;
    }
    .bottom{
        width: 100%;
         border-top: 1px solid #6666;
         margin-top: 50px;

    }
}
